@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --green: #B4F461;
    --title: #111111;
    --paragraph: rgba(17, 17, 17, 0.7);
    --placeholder: rgba(17, 17, 17, 0.4);
    --border: rgba(17, 17, 17, 0.1);
}

.lexend-font {
    font-family: "Lexend", sans-serif;
}


/* header section styles */
header {
    background-color: rgba(255, 255, 255, 0.603);
    backdrop-filter: blur(20px);
    z-index: 999;
    position: sticky;
    top: 0;

}

main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    padding: 24px;
    /* position: sticky; */
}
hr{
    color: var(--border);
    max-width: 1140px;
    margin: auto;

}
.btn-container {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    padding: 24px 0 48px;
}

.btn {
    padding: 12px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: var(--green);
    font-family: "Lexend", sans-serif;
    cursor: pointer;
}

.btn2 {
    padding: 12px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    color: var(--paragraph);
    border: 1px solid var(--placeholder);
    font-family: "Lexend", sans-serif;
    cursor: pointer;
}

#logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

#balance-div {
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--paragraph);
    font-weight: 500;
    font-size: 1.25rem;
}


/* card section style */
.card {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.child {
    flex: 1;
}

.image-wrapper img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    flex: 1;
}

.donated-amount-container {
    display: flex;
    gap: 16px;
    background-color: var(--border);
    width: fit-content;
    padding: 10px 16px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--title);
}

.paragraph {
    color: var(--paragraph);
    line-height: 26px;
    margin-bottom: 24px;
}

input {
    padding: 18px;
    border-radius: 8px;
    border: 1px solid var(--border);
    margin-bottom: 16px;
    font-size: 1rem;
    color: var(--paragraph);
    font-family: "Lexend", sans-serif;
}

input::placeholder {
    color: var(--placeholder);
    font-family: "Lexend", sans-serif;
}

input:focus {
    outline: none;
}


/* modal styles */
.modal-container{
    background-color: rgba(0, 0, 0, 0.171);
    z-index: 999;
    inset: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content{
    background-color: white;
    padding: 50px 80px;
    border-radius: 12px;
    text-align: center;
}

.hidden{
    display: none;
}

/* Mobile device*/
@media screen and (max-width: 576px) {
    #logo {
        display: none;
    }
    .card{
        flex-direction: column;
    }
}
